In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook()

# Lab 03: Charts
Welcome to Lab 03.

So far, we've used Python to work with tables and to perform operations on arrays (e.g. a column in a tale). But sometimes a visualization of data can make big and small data easier for the human brain to understand and to detect patterns, trends, and outliers.

In this lab, you'll first see how to create visualizations of data by using bar charts, scatter plots, and histograms.

In [1]:
# Just run this cell
import warnings
warnings.filterwarnings("ignore", message="The 'warn' parameter of")

from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# 1. Creating a Table

**Question 1.1** Read in the data file `movies_by_year_with_ticket_price.csv` and store it in a table named `movies`.

<!--
BEGIN QUESTION
name: q1_1
-->

In [2]:
movies = ...
movies

In [ ]:
grader.check("q1_1")

The values in the column `Total Gross` represent the total gross of the movie in millions of dollars. Suppose we want to determine how many tickets were sold for the movie. To do this we need to convert the `Total Gross` into millions and divide by the `Average Ticket Price`.

**Question 1.2** Calculate the number of ticket sold and store this value in `tix_sold`.

<!--
BEGIN QUESTION
name: q1_2
-->

In [5]:
gross_in_dollars = ...
tix_sold = ...
tix_sold

In [ ]:
grader.check("q1_2")

**Question 1.3.** Add the `tix_sold` column to the `movies` table using the the label "Tickets Sold". Set the format of this column to numbers with commas.

<!--
BEGIN QUESTION
name: q1_3
-->

In [9]:
movies = ...
movies

In [ ]:
grader.check("q1_3")

**Question 1.4** Format the values in the array as a number with commas, and then add this column to the `movies` table. Sort the `movies` table from most tickets sold to least.

<!--
BEGIN QUESTION
name: q1_4
-->

In [12]:
movies = ...
movies

In [ ]:
grader.check("q1_4")

<!-- BEGIN QUESTION -->

# 2. Charts

## 2.1 Line Graph

**Question 2.1.1.** Make a line graph of `movies` table that shows the number of tickets sold in each year.

<!--
BEGIN QUESTION
name: q2_1_1
manual: true
-->

In [14]:
...

<!-- END QUESTION -->

## 2.2 Bar Charts

**Roman Emperors***

The story of Romeâ€™s Emperors in the first century AD has got it all-love, murder and revenge, fear and greed, envy and pride. Their history is a rollercoaster that lurches from peace and prosperity to terror and tyranny.

**Hereditary rule**

Why was the first century so turbulent? The first answer is simple: hereditary rule. For most of this period, emperors were not chosen on the basis of their ability or honesty, but simply because they were born in the right family.

For every great leader, such as Augustus, there was a tyrant like Caligula. For every Claudius there was a Nero; for every Vespasian, a Domitian. Only at the end of the period did Rome take the succession into its own hands and select somebody who was reasonably sane, smart and honest. Let's explore a dataset about roman emperors

**Question 2.2.1** Read in the data file `emperors.csv` and store it in a table named `emperors`.

<!--
BEGIN QUESTION
name: q2_2_1
-->

In [15]:
emperors = ...
emperors

In [ ]:
grader.check("q2_2_1")

The `unique()` function from the `numpy` pakage is used to find the unique elements of an array. It returns the sorted unique elements of an array. There are three optional outputs in addition to the unique elements:

* the indices of the input array that give the unique values
* the indices of the unique array that reconstruct the input array
* the number of times each unique value comes up in the input array

**Question 2.2.2.** Use the `np.unique()` function to return the unique elements from the `rise` column in the `emperors` table. Store the returned array in `rise_to_power`.

<!--
BEGIN QUESTION
name: q2_2_2
-->

In [19]:
rise_to_power = ...
rise_to_power

In [ ]:
grader.check("q2_2_2")

Suppose we want to make a bar chart that shows  I decided to chart the different ways the emperors rose to power.

In order to use the `.barh` method we need to create a table. Let's start by creating variables to store the number of emperors that attained the throne for each category. 

**Question 2.2.3.** For each category we need to find the number of rows that correspond to each of the different ways an emperor rose to power. Store the value for each method in a separate variable, then put all the variables in an array. Use the table below as a guide.

| Name          | Description |
| :----------   | :-----------|
| `appt_army`   | Number of emperors that were appointed by the army   |
| `appt_emp`    | Number of emperors that were appointed by an emperor |
| `appt_guard`  | Number of emperors that were appointed by the praetorian guard |
| `appt_senate` | Number of emperors that were appointed by the senate |
| `appt_birthright` | Number of emperors that were appointed by birthright |
| `appt_election`   | Number of emperors that were appointed by election |
| `appt_purchase`   | Number of emperors that were appointed by purchase | 
| `appt_seizedpwr`  | Number of emperors that seized power |

Store each of the variables in an array named `number_of_emperors`.

<!--
BEGIN QUESTION
name: q2_2_3
-->

In [23]:
appt_army = ...
appt_emp = ...
appt_guard = ...
appt_senate = ...
appt_birthright = ...
appt_election = ...
appt_purchase = ...
appt_seizedpwr = ...
number_of_emperors = make_array(appt_army,
                                appt_emp, 
                                appt_guard, 
                                appt_senate, 
                                appt_birthright, 
                                appt_election,
                                appt_purchase,
                                ...
number_of_emperors

In [ ]:
grader.check("q2_2_3")

**Question 2.2.4.** Make a table named `path_to_throne` with two columns. One column should contain the `rise_to_power` array named **Path to the Throne** and the other column should contain the `number_of_emperors` array named **Number of Emperors**.

<!--
BEGIN QUESTION
name: q2_2_4
-->

In [27]:
path_to_throne = ...
path_to_throne = ...
path_to_throne

In [ ]:
grader.check("q2_2_4")

<!-- BEGIN QUESTION -->

**Question 2.2.5.** Plot the `path_to_throne` table as a horizontal bar chart.

<!--
BEGIN QUESTION
name: q2_2_5
manual: True
-->

In [31]:
...

<!-- END QUESTION -->

## 2.3 Histograms

**CEO Incomes**

In this question, we'll look at the 2015 compensation of CEOs at the 100 largest companies in California. The data was compiled from a [Los Angeles Times analysis](http://spreadsheets.latimes.com/california-ceo-compensation/), and ultimately came from [filings](https://www.sec.gov/answers/proxyhtf.htm) mandated by the SEC from all publicly-traded companies. Two companies have two CEOs, so there are 102 CEOs in the dataset.

We've copied the raw data from the LA Times page into a file called `raw_compensation.csv`. 

**Note:** The page notes that all dollar amounts are in millions of dollars.

**Question 2.3.1** Read in the data file `ceo_income.csv` and store it in a table named `ceo_income`.

<!--
BEGIN QUESTION
name: q2_3_1
-->

In [32]:
ceo_income = ...
ceo_income

In [ ]:
grader.check("q2_3_1")

**Question 2.3.2** Calculate the average CEO `Total Pay` and store the value in `avg_ceo_total_pay`.
<!--
BEGIN QUESTION
name: q2_3_2
-->

In [36]:
avg_ceo_total_pay = ...
avg_ceo_total_pay

In [ ]:
grader.check("q2_3_2")

**Question 2.3.3** How many CEOs make more than the average?

<!--
BEGIN QUESTION
name: q2_3_3
-->

In [38]:
pct_above_avg = ...
pct_above_avg

In [ ]:
grader.check("q2_3_3")

<!-- BEGIN QUESTION -->

The average doesn't tell us everything about the amounts CEOs are paid, though. Maybe just a few CEOs make the bulk of the money, even among these 102.

We can use a histogram method to display the distribution of a set of numbers. The table method `.hist` takes a single argument, the name of a column of numbers. It produces a histogram of the numbers in that column.

**Question 2.3.4** Make a histogram of the total pay of the CEOs in compensation. Then check that the value you found for `pct_above_avg` is consistent with what you see in the histogram.

**Note:** Use the `my_bins` for the class intervals in your histogram.

<!--
BEGIN QUESTION
name: q2_3_4
manual: True
-->

In [40]:
my_bins = make_array(0,5,10,20,60)
...
...

<!-- END QUESTION -->

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

When done exporting, download the .zip file by `SHIFT`-clicking on the file name and selecting **Save Link As**. Or, find the .zip file in the left side of the screen and right-click and select **Download**. You'll submit this .zip file for the assignment in Canvas to Gradescope for grading.

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export("lab03.ipynb", pdf=False)