# Practicing Data Visualizations

In [1]:
from datascience import *
import numpy as np
%matplotlib inline

import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

/opt/conda/lib/python3.8/site-packages/datascience/tables.py:17: MatplotlibDeprecationWarning: The 'warn' parameter of use() is deprecated since Matplotlib 3.1 and will be removed in 3.3.  If any parameter follows 'warn', they should be pass as keyword, not positionally.
  matplotlib.use('agg', warn=False)
/opt/conda/lib/python3.8/site-packages/datascience/util.py:10: MatplotlibDeprecationWarning: The 'warn' parameter of use() is deprecated since Matplotlib 3.1 and will be removed in 3.3.  If any parameter follows 'warn', they should be pass as keyword, not positionally.
  matplotlib.use('agg', warn=False)

## Instructions

Use the dataset `chicago_pol.csv` to answer the questions found below in the Exercises section.

## Dataset `chicago_pol.csv`

The data in this file is organized in the following way:

| Variable | Data Type | Description |
|----------|-----------|-------------|
|`X`       | `int`     | Original row number from larger data set |
|`city`    | `str`     | Name of City   |
|`date`    | `str`     | Date in MM/DD/YYYY format |
|`temp`    | `float`   | High temperature recorded for that day |
|`dewpoint`| `float`   | Dewpoint |
| `pm10`   | `float`   | Particulate matter up to 10 micrometers |
| `o3`     | `float`   | Ground level ozone |
| `time`   | `int`     | Date as an integer format (3654 is 1/1/1997 and 5114 is 12/31/2000) |
| `season` | `str`     | Season (winter, spring, summer, fall) |
| `year`   | `int`     | Year (1997, 1998, 1999, 2000)|

## Exercises
Answer the following questions using the data contained in the dataset. Run the following cell to load the data into the Table named `chicago`.

In [4]:
chicago = Table.read_table('chicago_pol.csv')
chicago

X    | city | date      | temp | dewpoint | pm10    | o3      | time | season | year
3654 | chic | 1/1/1997  | 36   | 37.5     | 13.0523 | 5.65926 | 3654 | winter | 1997
3655 | chic | 1/2/1997  | 45   | 47.25    | 41.9486 | 5.52542 | 3655 | winter | 1997
3656 | chic | 1/3/1997  | 40   | 38       | 27.0418 | 6.28855 | 3656 | winter | 1997
3657 | chic | 1/4/1997  | 51.5 | 45.5     | 25.0726 | 7.53776 | 3657 | winter | 1997
3658 | chic | 1/5/1997  | 27   | 11.25    | 15.3431 | 20.7608 | 3658 | winter | 1997
3659 | chic | 1/6/1997  | 17   | 5.75     | 9.36465 | 14.9409 | 3659 | winter | 1997
3660 | chic | 1/7/1997  | 16   | 7        | 20.2284 | 11.921  | 3660 | winter | 1997
3661 | chic | 1/8/1997  | 19   | 17.75    | 33.1348 | 8.67848 | 3661 | winter | 1997
3662 | chic | 1/9/1997  | 26   | 24       | 12.1184 | 13.3559 | 3662 | winter | 1997
3663 | chic | 1/10/1997 | 16   | 5.375    | 24.7615 | 10.4483 | 3663 | winter | 1997
... (1451 rows omitted)

**Question 1**: How many Winter days are in each year where the temperature was lower than 10 degrees?

**Question 2**: What percentage of Spring days in each year is the temperature above 70 degrees?

**Question 3**: Choose one month in any year and make a line plot for the dewpoint.

**Question 4**: Determine what `o3` and `pm10` indicate about air quality and the typical units of measure.

*Replace this text with your answer*

**Question 5**: Choose one year and make a histogram for the `o3` values and for the `pm10` values. You should manually set the bin size using an array. The first bin must be $[0, 5)$ but all other bins can be any size you choose.

**Question 6:** Choose one year and make a histogram for the `pm10` values. You should manually set the bin size using an array. The first bin must be $[0, 20)$ but all other bins can be any size you choose.

**Question 7**: Based on your histograms, roughtly what percent of the data falls into the first bar of the histogram in each graph?

*Double-click to edit this cell with your answers**