In [2]:
# Just run this cell
import warnings
warnings.filterwarnings("ignore", message="The 'warn' parameter of")

from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Grouping

Let's recap the two major ways we'll be grouping data in this course.

In [3]:
# loads the ice cream cone data as a Table
cones = Table().read_table('https://raw.githubusercontent.com/data-8/textbook/gh-pages/data/cones.csv')
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

## `.group()`

You can group data using the `.group()` method on any Table.

In [4]:
cones.group('Flavor')

Flavor     | count
bubblegum  | 1
chocolate  | 3
strawberry | 2

If you specify one label, it will (by default) count the number of items with each unique value found in the column with that label. You can specify other functions besides count (which uses the `len` function). Other choices could include `min`, `max`, `np.average`, or any function that you've written!

In [6]:
cones.drop('Color').group('Flavor', min)

Flavor     | Price min
bubblegum  | 4.75
chocolate  | 4.75
strawberry | 3.55

In [7]:
cones.drop('Color').group('Flavor', np.average)

Flavor     | Price average
bubblegum  | 4.75
chocolate  | 5.08333
strawberry | 4.4

Notice that when calculating values such as min, max, etc, it's best to drop other columns from the table besides the column(s) that you are grouping by and calculating on. Otherwise, you'll find the min, max, etc of the other columns as well, which doesn't always make sense.

You can also group by multiple columns. To do so, provide a list of labels as the first argument to the `.group()` method. You'll get a warning, but it's okay!

In [9]:
cones.group(['Flavor', 'Color'])

Flavor     | Color       | count
bubblegum  | pink        | 1
chocolate  | dark brown  | 2
chocolate  | light brown | 1
strawberry | pink        | 2

In [10]:
cones.group(['Flavor', 'Color'], np.average)

Flavor     | Color       | Price average
bubblegum  | pink        | 4.75
chocolate  | dark brown  | 5.25
chocolate  | light brown | 4.75
strawberry | pink        | 4.4

## `.pivot()`

You can also use a pivot table (also known as a contingency table in Statistics) to group data. Specify the column labels and the row labels. By default it will count the number of items that fall into both groups and place that value into the table.

In [15]:
cones.pivot('Flavor', 'Color', 'Price', len)

Color       | bubblegum | chocolate | strawberry
dark brown  | 0         | 2         | 0
light brown | 0         | 1         | 0
pink        | 1         | 0         | 2

You can be more specific about how the table is created by providing 2 additional arguments to specify the column of data to perform calculations on and the function that will perform the calculations. For example, the pivot table above could also be created with the code below, which specifies that the Price column will be grouped together for each pair, and the value calculated using the `len` function (which will count all the prices).

In [17]:
cones.pivot('Flavor', 'Color', 'Price', len)

Color       | bubblegum | chocolate | strawberry
dark brown  | 0         | 2         | 0
light brown | 0         | 1         | 0
pink        | 1         | 0         | 2

You could also calculate the average price in each entry in the table by providing the `np.average` function instead.

In [18]:
cones.pivot('Flavor', 'Color', 'Price', np.average)

Color       | bubblegum | chocolate | strawberry
dark brown  | 0         | 5.25      | 0
light brown | 0         | 4.75      | 0
pink        | 4.75      | 0         | 4.4

## Example 1

Which NBA teams spent the most on their “starters” in 2015-2016?
Assume the “starter” for a team & position is the player with the highest salary on that team in that position.

|PLAYER|POSITION|TEAM|SALARY|
|---|---|---|---|
|Paul Millsap| PF | Atlanta Hawks | 18.6717 |
|Al Horford | C | Atlanta Hawks | 12 |
|Tiago Splitter | C | Atlanta Hawks | 9.75625 |

Do NOT use the `.pivot()` method to complete this example.

In [ ]:
# Run this to load in the NBA Salary data
nba = Table().read_table('https://raw.githubusercontent.com/data-8/textbook/gh-pages/data/nba_salaries.csv')
nba

## Example 2

Which NBA teams spent the most on their “starters” in 2015-2016?
Assume the “starter” for a team & position is the player with the highest salary on that team in that position.

This time, use the `.pivot()` method to help determine the values.

In [ ]:
nba